<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/index-right.css">
</head>
<body>
    <h1>
        <span class="action-span">
            <a href="javascript:">ECSHOP 管理中心</a>
        </span>
        <span class="new-span"> - 添加新商品 </span>
        <span class="help-span">
            <a href="javascript:" target="_blank" title="添加新商品帮助文档">
                <img src="/images/jnsy.png">
            </a>
        </span>
        <span class="list-span">
            <a href="javascript:">商品列表</a>
        </span>
    </h1>
    <div id="tab-div">
        <ul id="tabber-div">
            <li class="tab-back tab-front">通用信息</li>
            <li class="tab-back">详细描述</li>
            <li class="tab-back">其他信息</li>
            <li class="tab-back">商品属性</li>
            <li class="tab-back">商品相册</li>
            <li class="tab-back">关联商品</li>
            <li class="tab-back">配件</li>
            <li class="tab-back">关联文章</li>
        </ul>

        <div id="tabbody-div">
            <form enctype="multipart/form-data" method="post" name="listForm">
                <div class="dis-table" style="display: block">
                    <table class="list-table">
                        <tbody>
                            <tr>
                                <td class="label">商品名称：</td>
                                <td>
                                    <input type="text" name="goods-name" id="right-inp" size="30">
                                    <input type="color" id="color-sel" name="set-color" value="#ffff00">
                                    <select name="set-style" id="style-sel">
                                        <option value="">字体样式</option>
                                        <option value="strong">加粗</option>
                                        <option value="em">斜体</option>
                                        <option value="u">下划线</option>
                                        <option value="strike">删除线</option>
                                    </select>
                                    <span class="require-field">*</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <a href="javascript:" title="点击此处查看提示信息" class="tips">
                                        <img src="/images/notice.gif">
                                    </a>
                                    商品货号：
                                </td>
                                <td>
                                    <input type="text" name="goods-num" id="right-num"><br>
                                    <span class="notice-tips">如果您不输入商品货号，系统将自动生成一个唯一的货号。</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">商品分类：</td>
                                <td>
                                    <select name="cat-id1" id="lb">
                                        <option value="100">请选择...</option>
                                        <option value="0">钻石</option>
                                        <option value="1">衬衫</option>
                                        <option value="2">裤子</option>
                                        <option value="3">外套</option>
                                        <option value="4">sd</option>
                                        <option value="5">内衣</option>
                                        <option value="6">针织衫</option>
                                        <option value="7">运动鞋</option>
                                        <option value="8">运动包</option>
                                        <option value="9">户外帐篷</option>
                                        <option value="10">户外骑行</option>
                                    </select>
                                    <a href="javascript:" title="添加分类" class="special" id="addgoods">添加分类</a>
                                    <span id="sr-special">
                                        <input type="text" size="10" name="addgoodsfl">
                                        <a href="javascript:" title="确定" class="special">确定</a>
                                        <a href="javascript:" title="分类管理" class="special">分类管理</a>
                                        <a href="javascript:" title="隐藏" class="special yc-addgoods"><<</a>
                                    </span>
                                        <span class="require-field">*</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">扩展分类：</td>
                                <td id="add-goodsfl">
                                    <input type="button" id="create-btn" value="添加">
                                    <span class="add-fl"></span>
                                    <!-- <select name="cat-id" id="lb">
                                        <option value="100">请选择...</option>
                                        <option value="0">钻石</option>
                                        <option value="1">衬衫</option>
                                        <option value="2">裤子</option>
                                        <option value="3">外套</option>
                                        <option value="4">sd</option>
                                        <option value="5">内衣</option>
                                        <option value="6">针织衫</option>
                                        <option value="7">运动鞋</option>
                                        <option value="8">运动包</option>
                                        <option value="9">户外帐篷</option>
                                        <option value="10">户外骑行</option>
                                    </select> -->
                                </td>
                            </tr>
                             <tr>
                                <td class="label">商品品牌：</td>
                                <td>
                                    <select name="cat-id2" id="pp">
                                        <option value="100">请选择...</option>
                                        <option value="0">gr</option>
                                        <option value="1">空间大师</option>
                                        <option value="2">溢彩年华</option>
                                        <option value="31">EVENY</option>
                                        <option value="30">圣迪奥</option>
                                        <option value="29">韩都衣舍</option>
                                        <option value="28">betu百图</option>
                                        <option value="27">艾夫斯</option>
                                        <option value="26">太平鸟</option>
                                        <option value="25">O.SA</option>
                                        <option value="34">美好家</option>
                                        <option value="35">生活诚品</option>
                                        <option value="44">kk</option>
                                        <option value="43">帮宝适</option>
                                        <option value="42">贝亲</option>
                                        <option value="41">雅培</option>
                                        <option value="40">好事达</option>
                                        <option value="39">千弘</option>
                                        <option value="38">美亿佳</option>
                                        <option value="37">大豪</option>
                                        <option value="36">宝优妮</option>
                                        <option value="24">裂帛</option>
                                        <option value="23">JNBY 江南布衣</option>
                                        <option value="10">金立</option>
                                        <option value="9">联想</option>
                                        <option value="7">美的</option>
                                        <option value="6">天翼</option>
                                        <option value="5">漫步者</option>
                                        <option value="4">希捷</option>
                                        <option value="11">  恒基伟业</option>
                                        <option value="12">夏普</option>
                                        <option value="22">LILY</option>
                                        <option value="21">白领</option>
                                        <option value="19">acer</option>
                                        <option value="18">AMD</option>
                                        <option value="17">爱普生</option>
                                        <option value="20">茵佳妮</option>
                                        <option value="15">乐华</option>
                                        <option value="14">创维</option>
                                        <option value="13">索尼</option>
                                        <option value="1">有讯网络</option>
                                    </select>
                                    <a href="javascript:" title="添加品牌" class="special" id="add-goodspp">添加品牌</a>
                                    <span id="pp-special">
                                        <input type="text" size="10" name="addgoodsfl">
                                        <a href="javascript:" title="确定" class="special">确定</a>
                                        <a href="javascript:" title="品牌管理" class="special">品牌管理</a>
                                        <a href="javascript:" title="隐藏" class="special yc-addgoodspp"><<</a>
                                    </span>
                                        <span class="require-field">*</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">本店售价：</td>
                                <td>
                                    <input type="text" name="goods-price" id="shop-price1" value="0" size="18">
                                    <input type="button" value="按市场价计算" class="js">
                                    <span class="require-field">*</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <a href="javascript:" title="点击此处查看提示信息" class="tips">
                                        <img src="/images/notice.gif">
                                    </a>
                                    会员价格：
                                </td>
                                <td>
                                    注册用户
                                    <input type="text" id="user-regist" value="-1" size="6">
                                    代销用户
                                    <input type="text" id="user-dai" value="-1" size="6">
                                    vip
                                    <input type="text" id="user-vip" value="-1" size="6"><br>
                                     <span class="notice-tips">会员价格为-1时表示会员价格按会员等级折扣率计算。你也可以为每个等级指定一个固定价格</span>
                                </td>
                            </tr>
                             <tr>
                                <td class="label">
                                    <a href="javascript:" title="点击此处查看提示信息" class="tips">
                                        <img src="/images/notice.gif">
                                    </a>
                                    商品优惠价格：
                                </td>
                                <td>
                                   <a href="javascript:" id="yh-price">[+]</a>
                                   优惠数量
                                    <input type="text" id="yh-num" value="" size="6">
                                    优惠价格
                                    <input type="text" id="yh-price" value="" size="6">
                                    <span class="notice-tips"><br>购买数量达到优惠数量时享受的优惠价格</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">市场售价：</td>
                                <td>
                                    <input type="number" name="goods-price" id="shop-price2" value="0" size="18">
                                    <input type="button" value="取整数" class="js" id="qz-btn">
                                </td>
                            </tr>
                            <tr>
                                <td class="label">虚拟数量：</td>
                                <td>
                                    <input type="number" name="goods-price" id="shop-price3" value="0" size="18">
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <a href="javascript:" title="点击此处查看提示信息" class="tips">
                                        <img src="/images/notice.gif">
                                    </a>
                                    赠送消费积分数：
                                </td>
                                <td>
                                    <input type="number" name="goods-num" id="right-xf" value="-1" size="18"><br>
                                    <span class="notice-tips">购买该商品时赠送消费积分数,-1表示按商品价格赠送</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <a href="javascript:" title="点击此处查看提示信息" class="tips">
                                        <img src="/images/notice.gif">
                                    </a>
                                    赠送等级积分数：
                                </td>
                                <td>
                                    <input type="number" name="goods-num" id="right-dj" value="-1" size="18"><br>
                                    <span class="notice-tips">购买该商品时赠送等级积分数,-1表示按商品价格赠送</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <a href="javascript:" title="点击此处查看提示信息" class="tips">
                                        <img src="/images/notice.gif">
                                    </a>
                                    分购买金额：
                                </td>
                                <td>
                                    <input type="number" name="goods-num" id="right-jfg" value="0" size="18"><br>
                                    <span class="notice-tips">(此处需填写金额)购买该商品时最多可以使用积分的金额</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <label class="check-yn">
                                        <input type="checkbox" id="is-check" name="check-promote">
                                        促销价：
                                    </label>
                                </td>
                                <td>
                                    <input type="number" value="0" size="18" id="cx-price">
                                </td>
                            </tr>
                            <tr>
                                <td class="label">促销日期：</td>
                                <td>
                                    <input type="text" value="2018-02-27" name="start-time" id="start-day" readonly="readonly" size="12" >
                                    <input type="button" value="选择" id="setbtn1" name="selbtn1" class="button" disabled="disabled">
                                    -
                                    <input type="text" value="2018-03-27" name="start-time" id="start-day" readonly="readonly" size="12" >
                                    <input type="button" value="选择" id="setbtn1" name="selbtn1" class="button" disabled="disabled">
                                </td>
                            </tr>
                            <tr>
                                <td class="label">上传商品图片：</td>
                                <td>
                                    <input type="file" name="goods-img" size="15" class="imgUrl">
                                    <img src="/images/no.gif" id="url-img"><br>
                                    <input type="text" size="35" placeholder="商品图片外部URL" id="inpImg-url" name="inpImg">
                                </td>
                            </tr>
                            <tr>
                                <td class="label">上传商品缩略图：</td>
                                <td>
                                    <input type="file" name="goods-img" size="15" class="imgUrl" id="xz-img">
                                    <img src="/images/no.gif" id="url-img1"><br>
                                    <input type="text" size="35" placeholder    ="商品图片外部URL" id="inpImg-url1" name="inpImg1"><br>
                                    <label class="ny-check"><input type="checkbox" id="no-check" checked="checked">自动生成商品缩略图</label>
                                </td>
                            </tr>

                            <tr>
                                <td style="position: relative;left: 33%">
                                    <div id="button-div">
                                        <input type="button" value="确定" class="button" id="qd-btn">
                                        <input type="reset" value="重置" class="button" id="cz-btn">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="dis-table"><table class="list-table"><tr><td><img src="/images/xxk_1.png" class="img-size"></td></tr></table></div>
                <div class="dis-table"><table class="list-table"><tr><td><img src="/images/xxk_4.png" class="img-size"></td></tr></table></div>
                <div class="dis-table"><table class="list-table"><tr><td><img src="/images/xxk_5.png" class="img-size"></td></tr></table></div>
                <div class="dis-table"><table class="list-table"><tr><td><img src="/images/xxk_2.png" class="img-size"></td></tr></table></div>
                <div class="dis-table"><table class="list-table"><tr><td><img src="/images/xxk_3.png" class="img-size"></td></tr></table></div>
                <div class="dis-table"><table class="list-table"><tr><td><img src="/images/xxk_6.png" class="img-size"></td></tr></table></div>
                <div class="dis-table"><table class="list-table"><tr><td><img src="/images/xxk_8.png" class="img-size"></td></tr></table></div>
            </form>

            <div id="footer">
                共执行 9 个查询，用时 0.024912 秒，Gzip 已禁用，内存占用 3.582 MB <br>版权所有 © 2005-2018 上海商派软件有限公司，并保留所有权利。
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript" src="/javascripts/index-right.js"></script>