<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>
<body>
	<section>
		
	</section>
</body>
</html>
<script type="text/javascript" src="/javascripts/index.js"></script>