<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/index-center.css">
</head>
<body>
<div id="toggleMenu">
    <div id="show-Menu"></div>
    <div id="show-click"></div>
</div>
</body>
</html>
<script type="text/javascript" src="/javascripts/index-center.js"></script>
