<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
	<script type="text/javascript" src="/javascripts/index.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>
   <frameset rows="118,*" framespacing="0" border="0">
   		<frame src="/index/index-head" name="head-Frame" style="background: #212121;"></frame>
   </frameset>
</html>
