<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/index-left.css">
</head>
<body>
	<div id="tabbar-div">
		<p>
			<span class="tab-fron">导航菜单</span>
		</p>
	</div>
	<div id="main-div">
		<div id="menu-list">
			<ul id="menu-ul">
				<li class="collapse ico-1 click">
					商品管理
					<ol class="menu-ol" style="display: none">
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">商品列表</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">添加新商品</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">商品分类</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">用户评论</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">商品品牌</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">商品类型</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">商品回收站</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">图片批量处理</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">商品批量上传</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">商品批量导出</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">商品批量修改</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">生成商品代码</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">标签管理</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">虚拟商品列表</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">添加虚拟商品</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">更改加密串</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">商品自动上下架</a>
						</li>
					</ol>
				</li>
				<li class="collapse ico-2 click">
					促销管理
					<ol class="menu-ol" style="display: none">
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">夺宝奇兵</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">红包类型</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">商品包装</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">祝福贺卡</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">团购活动</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">专题管理</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">拍卖活动</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">优惠活动</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">批量管理</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">超值礼包</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">积分商城商品</a>
						</li>
					</ol>
				</li>
				<li class="collapse ico-3 click">
					订单管理
					<ol class="menu-ol" style="display: none">
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">订单列表</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">订单查询</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">合并订单</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">订单打印</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">缺货登记</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">添加订单</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">发货单列表</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">退货单列表</a>
						</li>
					</ol>
				</li>
				<li class="collapse ico-4 click">
					广告管理
					<ol class="menu-ol" style="display: none">
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">广告列表</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">广告位置</a>
						</li>
					</ol>
				</li>
				<li class="collapse ico-5 click">
					报表统计
					<ol class="menu-ol" style="display: none">
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">流量分析</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">客户统计</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">订单统计</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">销售概况</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">会员排行</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">销售明细</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">搜索引擎</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">销售排行</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">访问购买率</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">站外投放JS</a>
						</li>
					</ol>
				</li>
				<li class="collapse ico-6 click">
					文章管理
					<ol class="menu-ol" style="display: none">
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">文章分类</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">文章列表</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">文章自动发布</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">在线调查</a>
						</li>
					</ol>
				</li>
				<li class="collapse ico-7 click">
					会员管理
					<ol class="menu-ol" style="display: none">
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">会员列表</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">添加会员</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">会员等级</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">会员整合</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">会员留言</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">充值与提现申请</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">资金管理</a>
						</li>
					</ol>
				</li>
				<li class="collapse ico-8 click">
					权限管理
					<ol class="menu-ol" style="display: none">
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">管理员列表</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">管理员日志</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">角色管理</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">办理处列表</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">供货商列表</a>
						</li>
					</ol>
				</li>
				<li class="collapse ico-9 click">
					系统设置
					<ol class="menu-ol" style="display: none">
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">商店设置</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">会员注册项设置</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">支付方式</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">配送方式</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">邮件服务器设置</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">地区列表</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">计划任务</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">友情链接</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">验证码管理</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">文件权限检测</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">文件校验</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">首页主广告管理</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">自定义导航栏</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">授权证书</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">站点地图</a>
						</li>
					</ol>
				</li>
				<li class="collapse ico-10 click">
					模板管理
					<ol class="menu-ol" style="display: none">
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">模板选择</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">设置模板</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">库项目管理</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">语言向编辑</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">模板设置备份</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">邮件模板</a>
						</li>
					</ol>
				</li>
				<li class="collapse ico-11 click">
					数据库管理
					<ol class="menu-ol" style="display: none">
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">数据备份</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">数据表优化</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">SQL查询</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">体验数据清除</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">转换数据</a>
						</li>
					</ol>
				</li>
				<li class="collapse ico-12 click">
					短信管理
					<ol class="menu-ol" style="display: none">
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">发送短信</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">短信签名</a>
						</li>
					</ol>
				</li>
				<li class="collapse ico-13 click">
					推荐管理
					<ol class="menu-ol" style="display: none">
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">推荐设置</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">分成管理</a>
						</li>
					</ol>
				</li>
				<li class="collapse ico-14 click">
					邮件拳法管理
					<ol class="menu-ol" style="display: none">
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">关注管理</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">邮件订阅管理</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">杂志管理</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">邮件队列管理</a>
						</li>
					</ol>
				</li>
				<li class="collapse ico-15 click">
					移动版管理
					<ol class="menu-ol" style="display: none">
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">移动版</a>
						</li>
					</ol>
				</li>
				<li class="collapse ico-16 click">
					模板堂知识库
					<ol class="menu-ol" style="display: none">
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">在线手册</a>
						</li>
						<li class="menu-item">
							<a href="javascript:" target="section-Frame">社区论坛</a>
						</li>
					</ol>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>
<script type="text/javascript" src="/javascripts/index-left.js"></script>
